#about{

    background-image: url(../image/bg2.jpg);
    height: 150vh;
    background-size: cover;
}

.heading2{

    text-align: center;
    font-size: 3em;
    font-weight: 500;
    font-family: Georgia, 'Times New Roman', Times, serif ;
    height: 20%;
    margin-top: 1%;
    margin-bottom: -7%;
    
}

.para2{

    text-align: center;
    font-family:cursive;
    font-weight: 400;
    font-size: 2em;
    letter-spacing: 4px;
    /* background-color: rgb(230, 255, 148); */
}
.image{

    margin-left: 35%;
    width: 413px;
    height: 409px;
    margin-bottom: 0%;
    border-color: black;
    border-radius: 13px;

}
