#home{
background-image: url(../image/template\ hargun.jpg);
height: 70vh;
background-size: cover;
margin-top: -3%;
}

.heading{
    height: 0px;
    width : 350px;
    text-align: center;
    padding: 10%;
    font-size: 3em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(0, 0, 0);
    margin-left: 27%;
    

}
.para{

    color: black;
    font-size: 20px;
    font-family:cursive;
    text-align: center;
    padding-top: -10%;
}

@media(max-width: 768px){
    #home{
        background-image: url(../image/template\ hargun.jpg);
        height: 30vh;
        background-size: cover;
        margin-top: -6%;
        width: 153%;
        }

}
