@media(max-width:1236px)
{
    #about{

        background-image: url(../image/bg2.jpg);
        height: 70vh;
        background-size: cover;
    }

    .para2{

        text-align: center;
        font-family:cursive;
        font-weight: 300;
        font-size: 15px;
        padding-left: 20%;
        margin-bottom: 100%;
        margin-top: -15%;
         letter-spacing: 0px;
        /* background-color: rgb(230, 255, 148); */
    }
    .image{
    
        margin-left: 0%;
        width: 200px;
        height: 200px;
        margin-bottom: 0%;
        border-style: solid;
        border-color: black;
        border-radius: 100%;
        margin-top: 5%;
    
    
    }
}

@media(max-width:940px)
{
    .image{
    
        margin-left: 40%;
        width: 200px;
        height: 200px;
        margin-bottom: 20%;
        border-style: solid;
        border-color: black;
        border-radius: 100%;
        margin-top: -5%;
        
    }

    .para2{

        text-align: justify;
        font-family:cursive;
        font-weight: 300;
        font-size: 15px;
        padding-left: 20%;
        margin-bottom: 100%;
        margin-top: -18%;
         letter-spacing: 0px;
         margin-right: 25%;
        /* background-color: rgb(230, 255, 148); */
    }

    #about{

        height: 50vh;
    }
}

@media(max-width:938px)
{

    .navbar{
        background-color: blueviolet;
        border-radius: 5px;
        }

        .heading{
            height: -10px;
            width : 350px;
            text-align: center;
            padding: 15%;
            font-size: 3em;
            font-family: Georgia, 'Times New Roman', Times, serif;
            color: rgb(0, 0, 0);
            margin-left: 7%;
            margin-right: 50%;

        }

        .para{

            color: black;
            font-size: 15px;
            font-family:cursive;
            text-align: center;
            padding-top: -20%;
            margin-right: 10%;
        }

        #home{
            background-image: url(../image/template\ hargun.jpg);
            height: 50vh;
            background-size: cover;
            margin-top: -3%;
            width: 105%;
            }


            #skills{

                background-image: url(../image/bg1.jpg);
                opacity: 1.0;
                height: 25vh;
                background-size: cover;
                width: 105%;
            }

            .image1{

                height: 100px;
                width: 100px;
                padding-left: 0%;
                padding-right: 0%;
                
            }
            
            .image2{
            
                height: 100px;
                width: 100px;
            }
            
            .image3{
            
                height: 100px;
                width: 100px;
            }
            
            .image6{
            
                height: 100px;
                width: 100px;
            }
            .images{

                float: left;
                margin-top: 9%;
                margin-left: 3%;
                padding-left: 20%;
                margin-left: -6%;
            }

            #project{

                background-image: url(../image/bgp.jpg);
                opacity: 1.0;
                height: 50vh;
                background-size: cover;
                width: 105%;
            }

            #contact{
                background-color:white ;
                float: none;
                background-image: url(../image/bg5.jpg);
                opacity: 1.0;
                height: 15vh;
                background-size: cover;
                width: 105%;
            }

            #about{

                height: 50vh;
                width: 105%;

            }

            .navbar{
                background-color: blueviolet;
                border-radius: 15px;
                width: 105%;
                }



}

@media(max-width:780px)
{

    .navbar{
        background-color: blueviolet;
        border-radius: 5px;
        }

        .heading{
            height: -10px;
            width : 350px;
            text-align: center;
            padding: 15%;
            font-size: 3em;
            font-family: Georgia, 'Times New Roman', Times, serif;
            color: rgb(0, 0, 0);
            margin-left: 7%;
            margin-right: 50%;

        }

        .para{

            color: black;
            font-size: 15px;
            font-family:cursive;
            text-align: center;
            padding-top: -20%;
            margin-right: 10%;
        }

        #home{
            background-image: url(../image/template\ hargun.jpg);
            height: 50vh;
            background-size: cover;
            margin-top: -3%;
            width: 125%;
            }


            #skills{

                background-image: url(../image/bg1.jpg);
                opacity: 1.0;
                height: 25vh;
                background-size: cover;
                width: 125%;
            }

            .image1{

                height: 100px;
                width: 100px;
                padding-left: 0%;
                padding-right: 0%;
                
            }
            
            .image2{
            
                height: 100px;
                width: 100px;
            }
            
            .image3{
            
                height: 100px;
                width: 100px;
            }
            
            .image6{
            
                height: 100px;
                width: 100px;
            }
            .images{

                float: left;
                margin-top: 9%;
                margin-left: 3%;
                padding-left: 20%;
                margin-left: -6%;
            }

            #project{

                background-image: url(../image/bgp.jpg);
                opacity: 1.0;
                height: 50vh;
                background-size: cover;
                width: 125%;
            }

            #contact{
                background-color:white ;
                float: none;
                background-image: url(../image/bg5.jpg);
                opacity: 1.0;
                height: 15vh;
                background-size: cover;
                width: 125%;
            }

            #about{

                height: 50vh;
                width: 125%;

            }

            .navbar{
                background-color: blueviolet;
                border-radius: 15px;
                width: 125%;
                }



}






@media(max-width:604px)
{

    .navbar{
        background-color: blueviolet;
        border-radius: 5px;
        }

        .heading{
            height: -10px;
            width : 350px;
            text-align: center;
            padding: 15%;
            font-size: 3em;
            font-family: Georgia, 'Times New Roman', Times, serif;
            color: rgb(0, 0, 0);
            margin-left: 7%;
            margin-right: 50%;

        }

        .para{

            color: black;
            font-size: 15px;
            font-family:cursive;
            text-align: center;
            padding-top: -20%;
            margin-right: 10%;
        }

        #home{
            background-image: url(../image/template\ hargun.jpg);
            height: 50vh;
            background-size: cover;
            margin-top: -3%;
            width: 140%;
            }


            #skills{

                background-image: url(../image/bg1.jpg);
                opacity: 1.0;
                height: 25vh;
                background-size: cover;
                width: 140%;
            }

            .image1{

                height: 100px;
                width: 100px;
                padding-left: 0%;
                padding-right: 0%;
                
            }
            
            .image2{
            
                height: 100px;
                width: 100px;
            }
            
            .image3{
            
                height: 100px;
                width: 100px;
            }
            
            .image6{
            
                height: 100px;
                width: 100px;
            }
            .images{

                float: left;
                margin-top: 9%;
                margin-left: 3%;
                padding-left: 20%;
                margin-left: -6%;
            }

            #project{

                background-image: url(../image/bgp.jpg);
                opacity: 1.0;
                height: 50vh;
                background-size: cover;
                width: 140%;
            }

            #contact{
                background-color:white ;
                float: none;
                background-image: url(../image/bg5.jpg);
                opacity: 1.0;
                height: 15vh;
                background-size: cover;
                width: 140%;
            }

            #about{

                height: 50vh;
                width: 140%;

            }

            .navbar{
                background-color: blueviolet;
                border-radius: 15px;
                width: 140%;
                }



}


@media(min-width:960px)
{

    .navbar{
        background-color: blueviolet;
        border-radius: 5px;
        }

        .heading{
            height: 0px;
            width : 350px;
            text-align: center;
            padding: 10%;
            font-size: 3em;
            font-family: Georgia, 'Times New Roman', Times, serif;
            color: rgb(0, 0, 0);
            margin-left: 27%;
            
        
        }
        .para{
        
            color: black;
            font-size: 20px;
            font-family:cursive;
            text-align: center;
            padding-top: -10%;
        }

        #home{
            background-image: url(../image/template\ hargun.jpg);
            height: 70vh;
            background-size: cover;
            margin-top: -3%;
            }


            #skills{

                background-image: url(../image/bg1.jpg);
                opacity: 1.0;
                height: 45vh;
                background-size: cover;
            }
            
            .heading3{
            
                font-size: 3em;
                text-align: left;
                margin-top: 1%;
                margin-bottom: -7%;
                margin-left: 25%;
            }
            
            .images{
            
                float: left;
                margin-top: 9%;
                margin-left: 3%;
                padding-left: 20%;
                margin-left: -15%;
            }
            
            .image1{
            
                height: 150px;
                width: 150px;
                padding-left: 0%;
                padding-right: 0%;
            }
            
            .image2{
            
                height: 150px;
                width: 150px;
            }
            
            .image3{
            
                height: 150px;
                width: 150px;
            }
            
            .image6{
            
                height: 150px;
                width: 150px;
            }

            #project{

                background-image: url(../image/bgp.jpg);
                opacity: 1.0;
                height: 80vh;
                background-size: cover;
            }

            #contact{
                background-color:white ;
                float: none;
                background-image: url(../image/bg5.jpg);
                opacity: 1.0;
                height: 25vh;
                background-size: cover;
            }

            #about{

                background-image: url(../image/bg2.jpg);
                height: 60vh;
                background-size: cover;
            }



}