#project{

    background-image: url(../image/bgp.jpg);
    opacity: 1.0;
    height: 80vh;
    background-size: cover;
}

.heading4{

    color: yellow;
    font-size: 3em;
    text-align: left;
    margin-top: 1%;
    margin-bottom: -10%;
    margin-left: 25%;
}

.container1{


        float: left;
        margin-top: 9%;
        margin-left: 5%;
        display: flex;
}

.bank{
    font-size: 25px;
    text-align: center;
}

.ima{

    height: 250px;
    width: 250px;
}
.para4{

    text-align: left;
    color: whitesmoke;
    font-size: 1em;
    font-family: cursive;
}

.ima2{

    height: 250px;
    width: 250px;
}
.para5{

    text-align: left;
    color: whitesmoke;
    font-size: 1em;
    font-family: cursive;
    padding-left: 5%;
}
.banking{

    padding-right: 24%;
}
.portfolio1{

    padding-right: 20%;
    width: 105%;

}
.banking a{

    color: whitesmoke;

}

.portfolio1 a{

    color: whitesmoke;
}

.banking a:hover{

    color: rgb(10, 243, 10);
}

.portfolio1 a:hover{

    color: rgb(10, 243, 10);
}