#skills{

    background-image: url(../image/bg1.jpg);
    opacity: 1.0;
    height: 45vh;
    background-size: cover;
}

.heading3{

    font-size: 3em;
    text-align: left;
    margin-top: 1%;
    margin-bottom: -7%;
    margin-left: 25%;
}

.images{

    float: left;
    margin-top: 9%;
    margin-left: 3%;
    padding-left: 20%;
    margin-left: -15%;
}

.image1{

    height: 150px;
    width: 150px;
    padding-left: 0%;
    padding-right: 0%;
}

.image2{

    height: 150px;
    width: 150px;
}

.image3{

    height: 150px;
    width: 150px;
}

.image6{

    height: 150px;
    width: 150px;
}
