#skills{

    background-image: url(../image/bg1.jpg);
    opacity: 1.0;
    height: 150vh;
    background-size: cover;
}

.heading3{

    font-size: 5em;
    text-align: center;
    margin-top: 1%;
    margin-bottom: -7%;
}

.images{

    float: left;
    margin-top: 9%;
    margin-left: 3%;
}

.image1{

    height: 400px;
    width: 400px;
}

.image2{

    height: 400px;
    width: 400px;
}

.image3{

    height: 400px;
    width: 400px;
}

.image4{

    height: 400px;
    width: 400px;
}

.image5{

    height: 400px;
    width: 400px;
}
.image6{

    height: 400px;
    width: 400px;
}
